#table-password, th, td{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #313131;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: initial;
    font-size: 20px;
}